@import '../../styles/variables';

.our-features {
	padding: 100px;
	display: flex;
	// justify-content: space-between;
	background-color: #f6f6f6;
	gap: 20px;
}
.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	div {
		background-color: $vibrant-tangerine;
		border-radius: 50%;
		width: 100px;
		margin-bottom: 5px;
		padding: 20px;
	}
	img {
		width: 60px;
		height: 60px;
		vertical-align: middle;
	}
	p{
		color: #8d8d91;
	}
}
