@import '../../styles/variables';
@import '../../styles/mixins';

.our-features {
	padding: $common-padding;
	display: flex;
	background-color: #f6f6f6;
	gap: 20px;
}
.feature {
	@include flex-column-gap(10px);
	justify-content: center;
	align-items: center;
	text-align: center;
	div {
		background-color: $vibrant-tangerine;
		border-radius: 50%;
		width: 100px;
		margin-bottom: 5px;
		padding: 20px;
	}
	img {
		width: 60px;
		height: 60px;
		vertical-align: middle;
	}
	p{
		color: #8d8d91;
	}
}

@media (max-width: 1024px) {
	.our-features {
		.feature {
			flex: 1 1 45%;
		}
	}
}

@media (max-width: 600px) {
	.our-features {
		flex-direction: column;
		padding: 2rem 1rem;

		.feature {
			flex: 1 1 100%;

			h3 {
				font-size: 1.1rem;
			}

			p {
				font-size: 0.95rem;
			}
		}
	}
}
