@import '../../styles/variables';
@import '../../styles/mixins';

.banner {
	color: white;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	span {
		color: $vibrant-tangerine;
	}
	h1 {
		font-size: 48px;
		font-weight: 600;
		line-height: 60px;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		line-height: 26px;
	}
	a {
		text-decoration: none;
		color: white;
	}
	button {
		@include button;
	}
}
