@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
	padding: 0px 100px;
	background-color: #1a1a1a;
	color: #d6d6d6;
}
.footer-bottom {
	padding: 50px 0px;
	display: flex;
	justify-content: space-between;
}
.copyright {
	padding: 50px 0px;
	font-size: 24px;
	span{
		color: $vibrant-tangerine;
		text-decoration: underline;
	}
	
}

.footer-nav {
	li {
		list-style: none;
		font-size: 20px;
		color: #d6d6d6;
		a {
			text-decoration: none;
			&:hover {
				color: $vibrant-tangerine;
			}
		}
		.active {
			color: $vibrant-tangerine;
		}
	}
	@include flex-column-gap(20px);
}
h2 {
	margin-bottom: 20px;
}
