@import '../../styles/variables';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.modal {
	background-color: #fff;
	border-radius: 8px;
	width: 90%;
	max-width: 400px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
}

.closeBtn {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
}

.body {
	margin-bottom: 20px;
}

.footer {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.primaryBtn {
	background-color: $vibrant-tangerine;
	color: #fff;
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 800;
}

.secondaryBtn {
	background-color: #6c757d;
	color: #fff;
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 800;
}
