@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Thicccboi,sans-serif;
}


@font-face {
  font-family: 'Thicccboi';
  src: url('../src/fonts/TTF/THICCCBOI-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}