@import '../../styles/mixins';
@import '../../styles/variables';

.featuredCtn {
	padding: 100px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	background-color: #f5f5f5;
}
.show-button {
	@include button;
}
.featuredHead {
	display: flex;
	justify-content: space-between;
}
.car-cards{
	display: flex;
	gap: 20px;
}