@import '../../styles/mixins';
@import '../../styles/variables';

.car-card {
	width: 25%;
	@include flex-column-gap(10px);
	background-color: #fff;
	padding: 10px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	button {
		@include button;
		width: 100%;
		height: 50px;
		border-radius: 30px;
		&:hover{
			transform: scale(0.95);
		}
	}
	h3{
		color: #1a1a1a;
		font-weight: 500;
	}
}
.car-features {
	background-color: #f6f6f6;
	border-radius: 12px;
	padding: 5px;
	font-size: 14px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #1a1a1a;
	div {
		text-align: center;
	}
	img {
		width: 20px;
		height: 20px;
	}
}

.car-img {
	border-radius: 12px;
}
.price {
	display: flex;
	align-items: center;
	gap: 4px;
	p {
		font-size: 25px;
		font-weight: 700;
	}
}
