.title {
  font-size: 20px;
  text-align: center;
  line-height: auto;
  color: #4d4d4d;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 237, 237, 0.5647058824);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 37px;
  padding: 0px 40px;
}

.social > img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
}

.btnContainer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.signContainer {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}