.contact {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  border: 1px solid #d6d6d6;
  width: 700px;
  border-radius: 20px;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.contact-form .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}
.contact-form .label div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.contact-form .label input {
  width: 250px;
  height: 60px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid #d6d6d6;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 3px double #ff7326;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-submit button {
  color: white;
  background-color: #ff7326;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 16px 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.5px;
  border: none;
  cursor: pointer;
}
.form-submit button:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  background-color: #d0500b;
}

.icon {
  margin-right: 10px;
  border-radius: 30px;
  padding: 11px;
  background-color: #ff7326;
}
.icon:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.left-section {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.left-section h1 {
  color: #1a1a1a;
  font-size: 60px;
}
.left-section p {
  color: #8d8d91;
  font-weight: 500;
  line-height: 30px;
}

.info {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info h3 {
  font-size: 20px;
  font-weight: 600;
}
.info a {
  text-decoration: none;
  color: #1a1a1a;
  line-height: 26px;
}