.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  gap: 200px;
}
.founder img {
  width: 576px;
  height: 576px;
  border-radius: 10px;
}
.founder .founder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -ms-flex-item-align: center;
      align-self: center;
}
.founder .founder-content p {
  color: #8d8d91;
  font-weight: 500;
  line-height: 30px;
}
.founder .founder-content h1 {
  line-height: 44px;
  font-size: 32px;
  font-weight: 600;
}