.signUp {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 40px;
  padding: 16px 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.loginInput1 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, rgba(253, 101, 0, 0.788), rgb(225, 135, 74));
  background-size: 200% 200%;
  -webkit-animation: gradientBG 6s ease infinite;
          animation: gradientBG 6s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title {
  font-size: 20px;
  text-align: center;
  line-height: auto;
  color: #4d4d4d;
}

.signupForm input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #e4e4e4;
  border: none;
}

.signupForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.nameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.nameSection input {
  width: 50%;
}

.checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.checkBox label {
  font-size: 12px;
}
.checkBox input {
  width: inherit;
}

.signupBtn {
  padding: 14px 32px;
  background-color: #eef5fc;
  color: #abbed1;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
}

input:focus {
  outline: 2px solid #0671e0;
  border: 2px solid transparent;
}

input[type=checkbox] {
  width: 25px;
  height: 25px;
}

input[type=checkbox]:checked {
  width: 25px;
  height: 25px;
}

input[type=password] {
  -webkit-text-security: square;
}

@media screen and (min-width: 768px) {
  .loginInput1 {
    width: 50%;
  }
  .signUp {
    width: 500px;
  }
}