@import '../../styles/variables';

.filter-tab {
	padding: 15px 25px;
	color: rgb(141, 141, 145);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ff732600;
	border-radius: 12px;
	font-weight: 500;
	line-height: 30px;
	color: #8d8d91;
	box-shadow: 0 1px 6px #00000026;
	gap: 10px;
	&:hover {
		color: $vibrant-tangerine;
		cursor: pointer;
		transition: all 0.3s;
	}
}
