@import '../../styles/mixins';
@import '../../styles/variables';

.our-fleet {
	@include flex-column-gap(50px);
	padding: $common-padding;
}

.car-cards {
	display: flex;
	gap: 20px;
}
.filter-tabs{
	display: flex;
	justify-content: space-between;
}